footer{
    margin-top: 2rem;
    background: #1e2e50;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
footer .title{
    text-align: center;
margin-left: 2rem;
}
footer .title a{
    color: #89a8ff;
    text-decoration: none;
cursor: pointer;
transition: .3s;
}
footer .title a:hover{
    color: #084aff;
  
}
footer .social a i{
    color: antiquewhite;
font-size: 2.2rem;
width: 40px;
height: 40px;
border: 8px solid transparent;
margin-right: .4rem;
transition: .3s;
}
footer .social a i:hover{
    font-size: 2.5rem;
    color: #1e5aff;
}
footer .social {
   padding-right: 10rem;
}
::-webkit-scrollbar{
    background: #142963;
}
::-webkit-scrollbar-thumb{
    background: rgb(27, 87, 255);
}
.night{
    position: relative;
    width: 5%;
}
#toogleDark {
    position: absolute;
    left: 1px;
    font-size: 2.2rem;
    display: none;
    cursor: pointer;
}
#toogleNight{
    font-size: 2.2rem;
    cursor: pointer;
}

.win{
    width:100%;
    height:100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
display: none;
}
.win .card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row  ;
}
.win .card i{
    font-size: 4.5rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
    color: var(--info);
}
.win .card h2{
    margin-top: 2.8rem;
    font-size: 5rem;
}
.close{
    position: absolute;
    left: 220%;
    top: -450%;
}
.close i{
    color: red;
    cursor: pointer;
overflow:unset;
}